  <!DOCTYPE html>
  <html>
  <head>
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/jquery.mobile-1.3.2.js"></script>
    <script src="js/search.js"></script>
    <script src="js/item.js"></script>  
    <script src="js/cart.js"></script>
    <script src="js/user.js"></script> 
    <script src="js/home.js"></script> 
    <script src="js/invoice.js"></script>
    <script src="js/admin.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <link rel="stylesheet" href="css/jquery.mobile-1.3.1.css" /> 
    <link rel="stylesheet" href="css/skeleton.css"/>
    <style>
    

/*.ui-page{
    background:url("images/bg/vichy.png");
    background-size:cover;
    }   */
    </style>
  </head>
  <body>

      <!--Home Page -->
    <div data-role="page" id="home">


      <!--Header -->

      <div data-role="header" id="home_header" data-position="fixed">

        <h2 class="ui-title" role="heading">LlamaBucket</h2>
        <div data-role="controlgroup" class="ui-btn-right" data-type="horizontal">
        </div>

      </div>


      <!--Header End -->


      <!--Homepage Content -->
      <div data-role="content"  >
        <input type="search" name="search" id="search_basic"/>
        
        <a href="#" data-role="button" data-icon="search" id="search_button">Search</a>
        <a href="#categories" data-role="button"  data-icon="arrow-r" data-iconpos="right">Shop By Category</a>

        <br>

<!-- 
      <ul data-role="listview" data-inset="true" id="user_options">
        <li data-role="list-divider">Options</li>
        <li> <a href="#invoicelistpage">My transactions</a></li>
        <li><a href="#adminpanelpage">Administrator Panel</a></li>
        <li class="ui-count"><a href="#notifications">Notifications</a></li>
        <li><a href="#items_bidded">Bids</a>
        </li>
      <li><a href="#store">Store</a></li>
    </ul> -->


  </div>

  <!-- Home Page Content End -->

  <!-- Footer -->


  <div data-role="footer" data-id="pers_footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#home" data-icon="home" >Home</a></li>
        <li><a href="#user_profile" data-icon="bars" >Profile</a></li>
        <li><a href="#user_bucket" data-icon="bars" >Bucket</a></li>
      </ul>
    </div>
  </div>

</div>

<!-- Home Page End -->



<!-- Bids -->
<div data-role="page" id="items_bidded">
  <div data-role="header">

    <a href="#home" data-role="back" data-icon="back" data-rel="back" data-iconpos="notext"></a>
    <h2>Bids </h2>
  </div>
  <div data-role="content">

    <ul data-role="listview" id="bids_list" data-inset="true">
    </ul>

  </div>

  <div data-role="footer" data-id="pers_footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#home" data-icon="home" >Home</a></li>
        <li><a href="#user_profile" data-icon="bars" >Profile</a></li>
        <li><a href="#user_bucket" data-icon="bars" >Bucket</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Bid Ends -->

<!-- Store -->
<div data-role="page" id="store">
  <div data-role="header">

    <a href="#home" data-rel="back" data-icon="back" data-iconpos="notext"></a>
    <h2>Store </h2>
    <a href="#create_item" >Create</a>


  </div>
  <div data-role="content">

    <ul data-role="listview" id="listings_list" data-inset="true">

    </ul>

    

  </div>

  <div data-role="footer" data-id="pers_footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#home" data-icon="home" >Home</a></li>
        <li><a href="#user_profile" data-icon="bars" >Profile</a></li>
        <li><a href="#user_bucket" data-icon="bars" >Bucket</a></li>
      </ul>
    </div>
  </div>
</div>






<!-- Notifications -->
<div data-role="page" id="notifications">
  <div data-role="header">
    <a href="#home" data-icon="back" data-role="back" data-iconpos="notext"></a>
    <h2> Notifications</h2>
  </div>
  <div data-role="content">
    <ul data-role="listview" id="notifications_list" data-inset="true">


    </ul>
  </div>
  <div data-role="footer" data-id="pers_footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#home" data-icon="home" >Home</a></li>
        <li><a href="#user_profile" data-icon="bars" >Profile</a></li>
        <li><a href="#user_bucket" data-icon="bars" >Bucket</a></li>
      </ul>
    </div>
  </div>
</div>


<!-- Invoice list -->
<div data-role="page" id="invoicelistpage">
  <div data-role="header" id="invoicelistheader">
    <a href="#home" data-icon="back" data-rel="back" data-iconpos="notext">  </a>
    <h2>My Invoices</h2>
  </div>

  <div data-role="content" id="invoicelistcontent">
    <ul data-role="listview" id="invoicelist" data-inset="true"></ul>
  </div>
</div>
<!-- Invoice list end -->

<!-- Invoice -->
<div data-role="page" id="invoicepage">
  <div data-role="header" id="invoiceheader">
    <a href="#home" data-icon="back" data-rel="back" data-iconpos="notext">  </a>
    <h2>Invoice</h2>
  </div>

  <div data-role="content" id="invoicecontent">
    <ul data-role="listview" id="invoiceinfo">
    </ul>
  </div>
</div>


<!-- Invoice End -->

<!-- Admin Panel -->

<!-- panel page -->
<div data-role="page" id="adminpanelpage">
  <div data-role="header" id="adminpanelheader">
    <a  data-rel="back" data-icon="back" data-iconpos="notext">  </a>
    <h2>Administrator Panel</h2>
  </div>
  <div data-role="content" id="adminpanelcontent">
    <a href="#adminuserlistpage" data-role="button">View Users</a>
    <a href="#repgenpage" data-role="button">Generate Report - Today</a>
    <a href="#repgenpage" data-role="button">Generate Report - This Week</a>
    <a href="#repgenpage" data-role="button">Generate Report - This Month</a>
    <a href="#repgenpage" data-role="button">Generate Report - All</a>
    <a href="#view_categories" data-role="button">View/Edit Categories</a>
  </div>
</div>

<!-- user list-->
<div data-role="page" id="adminuserlistpage">
  <div data-role="header">
    <a data-rel="back" data-icon="back" data-iconpos="notext">  </a>
    <h2>User List</h2>
  </div>
  <div data-role="content" id="adminuserlistcontent">
    <ul data-role="listview" id="userlist"></ul>
  </div>
</div>

<!-- user list page -->
<div data-role="page" id="userinfopage">
  <div data-role="header">
    <a data-rel="back" data-icon="back" data-iconpos="notext">  </a>
    <h2 id="uiheader">User Information</h2>
    <a href="#edit_user_admin" data-icon="gear" data-iconpos="notext"></a>

  </div>
  <div data-role="content" id="userinfocontent">
    <ul data-role="listview" id="userinfo" data-inset="true"></ul>
  </div>
</div>

<!-- report generator -->
<div data-role="page" id="repgenpage">
  <div data-role="header">
    <a data-rel="back" data-icon="back" data-iconpos="notext">  </a>
    <h2 id="repname">Report</h2>
  </div>
  <div data-role="content" id="repgencontent">
    <ul data-role="listview" data-inset="true" id="repgen"></ul>
  </div>

</div>  
<div data-role="page" id="edit_user_admin">

  <div data-role="header" data-position="fixed">
    <a data-rel="back" data-icon="back" data-iconpos="notext">  </a>
    <h2>Edit</h2>
  </div>

  <div data-role="content">
    <form id="user_info_edit">
      <h4 style="text-align: center;"> Personal Information</h4>
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" value="" data-mini="true" placeholder="First Name"/>
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" data-mini="true" placeholder="Last Name"/>
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" placeholder="Email" data-mini="true"/>

      <h4 style="text-align : center;">Password Settings</h4>
      <label for="old_password">Old Password</label>
      <input for="password" name="old_password" id="old_password" placeholder="***********" data-mini="true"/>
      <label for="new_password">New Password</label>
      <input for="password" name="new_password" id="new_password" placeholder="***********" data-mini="true"/>
    </form>
  </div>

  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><button data-role="button" data-inline="true" id="edit_user_save" >Save</button></li>
        <li><a href="#user_profile" data-role="button" data-inline="true">Cancel</a></li>
      </ul>
    </div>
  </div>

</div>

<!-- Admin View Categories -->

<div data-role="page" id="view_categories">
  <div data-role="header" data-position="fixed">
    <a data-rel="back" data-icon="back" data-iconpos="notext">  </a>
    <h2>Category Management</h2>
    <a href="#add_category" data-icon="plus" data-iconpos="notext" data-role="button"></a>
  </div>
  <div data-role="content">
    <ul data-role="listview" data-inset="true" id="view_categories_list">
      <!--Admin Category View-->

    </ul>
  </div>

</div>

<!-- Add Category -->
<div data-role="page" id="add_category">
  <div data-role="header" data-position="fixed">
    <a data-rel="back" data-icon="back" data-iconpos="notext">  </a>
    <h2>Add Category</h2>
    <a id="save_category" data-role="button" >Save</a>
  </div>
  <div data-role="content">

    <form >
      <label for="category_name">Category Name:</label>
      <input type="text" name="category_name" id="category_name"  data-mini="true" />
      <label for="category_parent">Category Parent:</label>
      <input type="text" name="category_parent" id="category_parent" data-mini="true" >
      <label for="category_id">Category ID:</label>
      <input type="text" name="category_id" id="category_id" data-mini="true"/>


    </form>

  </div>
</div>


<!-- Edit Category -->

<div data-role="page" id="edit_categories">
  <div data-role="header" data-position="fixed">
    <a data-rel="back" data-icon="back" data-iconpos="notext">  </a>
    <h2> Edit Category</h2>

  </div>

  <div data-role="content">
    <form >
      <label for="category_name">Category Name:</label>
      <input type="text" name="category_name" id="category_name"  data-mini="true" />
      <label for="category_parent">Category Parent:</label>
      <input type="text" name="category_parent" id="category_parent" data-mini="true" >
      <label for="category_id">Category ID:</label>
      <input type="text" name="category_id" id="category_id" data-mini="true"/>
      <a href="#category_saved" data-role="button" data-rel="popup"> Save Changes</a>
      <a href="#category_deleted" data-role="button" data-rel="popup"> Delete</a>
      <a  data-rel="back" data-role="button" data-rel="popup">Cancel</a>

    </form>


  </div>
</div>





<!-- Admin Panel end -->

<!-- Cart List -->
<div data-role="page" id="user_bucket">

  <div data-role="header">
    <a href="#" data-rel="back">Back</a>
    <h2> My Bucket </h2>
    <a href="#checkout_address" data-role="button">Checkout</a>
  </div>


  <div data-role="content">
    <ul data-role="listview" id="bucket_list" data-inset = "true" >
    </ul>
  </div>

  <div data-role="footer" data-id="pers_footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#home" data-icon="home" >Home</a></li>
        <li><a href="#user_profile" data-icon="bars" >Profile</a></li>
        <li><a href="#user_bucket" data-icon="bars" >Bucket</a></li>
      </ul>
    </div>
  </div>

</div>


</div>
<!-- Checkout -->
<div data-role="page" id="checkout_address">
  <div data-role="header">
    <a href="#" data-icon="back" data-role="button" data-rel="back" data-iconpos="notext"></a>
    <h2>Checkout</h2>
    <a href="#invoicepage"  data-role="button">Place Order</a>
  </div>
  <div data-role="content">

    <div class="ui-body">
      <ul data-role="listview" data-inset="true" id="checkout_total">
        <li data-role="fieldcontain">

          <div class="ui-grid-a">
            <div class="ui-block-a" id="sub_total"></div>
            <div class="ui-block-b" id="values" style="text-align: right; font-size= 12px"></div>
          </div>
          <p><hr></p>

          <div class="ui-grid-a">
            <div class="ui-block-a" id="total_id"></div>
            <div class="ui-block-b" id="total" style="text-align: right;"></div>
          </div>

        </li>
      </ul>
    </div>


    <ul data-role="listview" data-inset="true">
      <li data-role="list-divider">Payment</li>
      <li><a href="#payment_option"><h3>Method:</h3><p class="ui-li-aside">Select your payment method</p></a></li>
      <li><a href="#coupon_option"><h3>Coupon, Gift codes</h3></a></li>

    </ul>





    <ul data-role="listview" data-inset="true" id="current_address" >
      <li data-role="list-divider" id="address_title">Current Shipping Address</li>
      <li ><a href="shipping_address" id="user_address"></a></li>

    </ul>

    <ul data-role="listview" data-inset="true" id="checkout_items">
      <li data-role="list-divider">Items</li>

    </ul>
  </div>
</div>




<!-- Edit Cart Items -->
<div data-role="dialog" id="editItems">
  <div data-role="content">
   <div class="ui-grid-a">
    <div class="ui-block-a"><a href="#registerForm" data-role="button" data-icon="star"></a></div>
    <div class="ui-block-b"><a href="index.html" data-role="button" id="clear_search" data-iconpos="right" data-icon="check">Log In</a></div>
  </div>
</div>
</div>




<!--Featured Items -->
<div data-role="page" id="featuredItems">

  <div data-role="header" data-id="foo1" data-position="fixed">
    <a href="#home" data-icon="back" data-rel="back" data-iconpos="notext">  </a>
    <h2> Featured Items </h2>
  </div>

  <div data-role="content">
    <ul data-role="listview" id="featured">
      <!-- Content will be generated here by the function in search.js file. --> 
    </ul>
  </div>

</div>
<!--Featured Items End -->


<!--Generic Item List -->
<div data-role="page" id="itemlist">

  <div data-role="header">
    <a href="#home" data-icon="back" data-rel="back" data-iconpos="notext">  </a>
    <h2> Item List </h2>
  </div>
  
  <div data-role="content">
    <ul id="itemlist_content" data-role="listview" data-inset="true"></ul>
  </div>
</div>




<!--Generic Item List End -->

<!--Item View -->
<div data-role="page" id="itempage">

  <div data-role="header" data-id="foo1" data-position="fixed">
    <a href="#home" data-icon="back" data-rel="back" data-iconpos="notext">  </a>
    <h2> Item List </h2>
    <a data-role="button" href="#" id="buy_add_check" data-icon="plus">Add</a>
  </div>


  <div data-role="content" id="itemcontent" data-inset="true" style="background-image:url('images/bg/dark_wall.png');">

    <div class="ui-grid-b">
      <div class="ui-block-a"></div>
      <div class="ui-block-b"><img src="" id="item_image" width="90%"/></div>
      <div class="ui-block-c"></div>
    </div>


    <h2 style="text-align: center; color:white;" id="item_header"></h2>

    <ul data-role="listview" data-inset="true" data-icon="false" id="item_pricing_details">

      <li id="price_tag"> <div class="ui-grid-a">
        <div class="ui-block-a"  style="width:33%"><p class="item_attribute" >Price:</p></div>
        <div class="ui-block-b" style="width:66%"><p class="item_attribute" id="item_price" style="margin-top: 2px"></p><p class="item_attribute"></p></div>

      </div></li>

      <li id="current_bidding"> <div class="ui-grid-a">
        <div class="ui-block-a"  style="width:33%"><p class="item_attribute" style="margin-top: 2px">Current Bid:</p></div>
        <div class="ui-block-b" style="width:66%"><p class="item_attribute" id="bid_price" ></p><p class="item_attribute"></p></div>

      </div></li>

      <li id="number_bids"> <div class="ui-grid-a">
        <div class="ui-block-a"  style="width:33%"><p class="item_attribute" >Number of Bids:</p></div>
        <div class="ui-block-b" style="width:66%"><p class="item_attribute" id="number_bids" style="margin-top: 2px"></p><p class="item_attribute"></p></div>

      </div></li>


      <li> <div class="ui-grid-a">
        <div class="ui-block-a"  style="width:33%"><p class="item_attribute">Location:</p></div>
        <div class="ui-block-b" style="width:66%"><p class="item_attribute"id="item_location"></p></div>

      </div></li>

    </ul>

    <ul data-role="listview" data-inset="true" >


      <li><a href="#item_desc" ><p class="item_attribute">Description</p></a></li>

      <li> <div class="ui-grid-a">
        <div class="ui-block-a"  style="width:33%"><p class="item_attribute">Brand:</p></div>
        <div class="ui-block-b" style="width:66%"><p class="item_attribute"id="item_brand"></p></div>

      </div></li>
      <li> <div class="ui-grid-a">
        <div class="ui-block-a"  style="width:33%"><p class="item_attribute">Category:</p></div>
        <div class="ui-block-b" style="width:66%"><p class="item_attribute"id="item_category"></p></div>

      </div></li>
      <li> <div class="ui-grid-a">
        <div class="ui-block-a"  style="width:33%"><p class="item_attribute">Year:</p></div>
        <div class="ui-block-b" style="width:66%"><p class="item_attribute"id="item_year"></p></div>

      </div></li>
      <li> <div class="ui-grid-a">
        <div class="ui-block-a"  style="width:33%"><p class="item_attribute">ID:</p></div>
        <div class="ui-block-b" style="width:66%"><p class="item_attribute"id="item_id"></p></div>

      </div></li>
      <li> <div class="ui-grid-a">
        <div class="ui-block-a" style="width:33%"><p class="item_attribute">Seller:</p></div>
        <div class="ui-block-b" style="width:66%"><p class="item_attribute"id="item_seller"></p></div>

      </div></li>
    </ul>

    <br>

    <div data-role="controlgroup">
      <a href="index.html" data-role="button" data-theme="a">Buy</a>
      <a href="index.html" data-theme="a" data-role="button">Bid</a>
      <a href="index.html" data-theme="a" data-role="button">Add to Cart</a>
    </div>      </div>

  </div>
</div>


<!--Item View End -->



<!--Sign In - Dialog -->
<div data-role="dialog" id="sign_in">
  <div data-role="header">
    <h1>Sign In</h1>
  </div>
  <div data-role="content">
    <form> 
      <label for="basic"></label>
      <input type="text" name="username" id="username" placeholder="Username" />
      <input type="password" name="password" id="password" placeholder="Password" />
      <a href="#"> Forgot Password?</a>
      <div class="ui-grid-a">
        <div class="ui-block-a"><a href="#registerForm" data-role="button">Register</a></div>
        <div class="ui-block-b"><a href="#" data-role="button" id="sign_in_submit" data-iconpos="right" data-icon="check">Log In</a></div>
      </div>
    </form>
  </div>
</div>

<!-- End -->

<!-- Description Dialog -->

<div data-role="dialog" id="item_desc">

  <div data-role="header">
    <h1>Description</h1>

  </div>

  <div data-role="content">

    <h4 id="item_desc_text"> </h4>

  </div>

</div>

<!-- Register Form -->
<div data-role="page" id="registerForm">
  <div data-role="header">
   <a href="#home">Cancel </a>

   <h1> Register </h1>
   <a href="#thanks_note">Save</a>
 </div>
 <div data-role="content">
  <form action="" method="post">

    <!-- Personal Information -->
    <ul data-role="listview" data-inset="true">
      <li data-role="list-divider">Personal Information</li>
      <li data-role="fieldcontain"><input type="text" name="firstName" id="firstName" placeholder="First Name"/></li>
      <li data-role="fieldcontain"><input type="text" name="lastName" id="lastName" placeholder="Last Name"/></li>
      <li data-role="fieldcontain"><input type="text" name="email" id="lastName" placeholder="Email"/></li>
      <li data-role="fieldcontain"><input type="password" name="password" id="password" placeholder="Password"/></li>
      <li data-role="fieldcontain"><input type="password" name="password" id="password" placeholder="Verify Password"/></li>
    </ul>




    <!--Mailing Address -->
    <ul data-role="listview" data-inset="true">

      <li data-role="list-divider">Mailing Address</li>
      <li data-role="fieldcontain"><input ng-model="addressOne" type="text" name="addressOne" id="addressOne" placeholder="Address One"/></li>
      <li data-role="fieldcontain"><input ng-model="addressTwo" type="text" name="addressTwo" id="addressTwo" placeholder="Address Two"/></li>
      <li data-role="fieldcontain"><input  ng-model="theCity" type="text" name="city" id="cityForm" placeholder="City" /></li>
      <li data-role="fieldcontain"><input ng-model="theZipcode" type="text" name="zipcode" id="zipcode" placeholder="Zip Code" /></li>
      <li data-role="fieldcontain"><select ng-model="theCountry" name="country" id="country" >


      </select></li>
    </ul>

    <!-- Billing Address -->
    <ul data-role="listview" data-inset="true">
     <li data-role="list-divider">Billing Address 
     </li>
     <li data-role="fieldcontain"><label>Check the box if the mailing address is the same as the billing address <input type="checkbox" name="equalAddress" id="equalAddress" class="custom" /></label></li>
     <li data-role="fieldcontain"><input type="text" name="addressOne" id="addressOne" placeholder="Address One"/></li>
     <li data-role="fieldcontain"><input type="text" name="addressTwo" id="addressTwo" placeholder="Address Two"/></li>
     <li data-role="fieldcontain"><input type="text" name="city" id="cityForm" placeholder="City" /></li>
     <li data-role="fieldcontain"><input type="text" name="zipcode" id="zipcode" placeholder="Zip Code" /></li>
     <li data-role="fieldcontain"><select name="country" id="country" >

     </select></li>
   </ul>

   <!--Credit Card Info -->
   <ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Credit Card Information</li>
    <li data-role="fieldcontain"><input type="text" name="credit_card_number" id="credit_card_number" placeholder="Credit Card Number"/>
    </li>
    <li data-role="fieldcontain"><input type="text" name="cvs" id="cvs" placeholder="CVS"></li>
    <li data-role="fieldcontain"><select name="cardType" id="cardType">
      <option value="VISA"> Visa</option>
      <option value="AMEX"> Amex</option>
      <option value="MASTER"> MasterCard</option>
    </select>
    <li data-role="fieldcontain"><input type="text" name="expdate" id="expdate" placeholder="Expiration Date: MM/YY"/>
    </li>
  </ul>



</form>
</div>
</div>
<!-- Register Form end -->

<!-- Thanks Note -->

<div data-role="dialog" id="thanks_note">
  <div data-role="header">
    <h1></h1>
  </div>
  <div data-role="content">
    <h3>Thanks for registering!</h3>
    <div class="ui-grid-a">
      <div class="ui-block-a"><a href="#sign_in" data-role="button" data-icon="star">Shop</a></div>
      <div class="ui-block-b"><a href="index.html" data-role="button" id="clear_search" data-iconpos="right" data-icon="home">Home</a></div>
    </div>
  </div>
</div>


  <!-- Categories page -->
  <div data-role="page" id="categories">
    <div data-role="header" data-position="fixed">
      <h3>Categories</h3>
      <a href="#" data-rel="back"> Back</a>
    </div>

    <div data-role="content">
      <ul data-role="listview" id="categories-list" class="ui-li-icon">
      </ul>
    </div>

    <div data-role="footer" data-id="pers_footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#home" data-icon="home" >Home</a></li>
        <li><a href="#user_profile" data-icon="bars" >Profile</a></li>
        <li><a href="#user_bucket" data-icon="bars" >Bucket</a></li>
      </ul>
    </div>
  </div>
  </div>
  <!-- End of Categories -->

  <!-- Sub-categories view -->

  <div data-role="page" id="subcategories">
    <div data-role="header" data-position="fixed">
      <h3>Categories</h3>
      <a href="#" data-rel="back"> Back</a>
    </div>

    <div data-role="content" id="subcategories_content">
      <ul data-role="listview" id="subcategories-list" class="ui-li-icon">
      </ul>
    </div>

    <div data-role="footer" data-id="pers_footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#home" data-icon="home" >Home</a></li>
        <li><a href="#user_profile" data-icon="bars" >Profile</a></li>
        <li><a href="#user_bucket" data-icon="bars" >Bucket</a></li>
      </ul>
    </div>
  </div>

  </div>

  <!-- end of sub-categories --> 

<!-- Sort Dialog -->

<div data-role="dialog" id="sort_dialog">
  <div data-role="header" data-position="fixed">
    <h2>Sort</h2>
  </div>
  <div data-role="content">
    <form>
      <label>Sort By: </label>
      <select>
        <option> Sort By Name</option>
        <option> Sort By Price </option>
        <option> Sort By Brand</option>
      </select>
      <a href="#searchResults" data-role="button">Submit</a>



    </form>
  </div>
</div>


  <!-- Search Results -->
  <div data-role="page" id="searchResults">
    <div data-role="header" data-position="fixed">
      <a href="index.html" id="back_button_categories" rel="external"> Home </a>
      <h2> Search Results </h2>
      <button>Refine</button>
    </div>

    <div data-role="content">
      <ul data-role="listview" id="results">
        <!-- Content will be generated here by the function in search.js file. --> 
      </ul>
    </div>

    <div data-role="footer" data-id="pers_footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#home" data-icon="home" >Home</a></li>
        <li><a href="#user_profile" data-icon="bars" >Profile</a></li>
        <li><a href="#user_bucket" data-icon="bars" >Bucket</a></li>
      </ul>
    </div>
  </div>

  </div>
  <!-- End of Search Results -->

  <!-- user page -->

  <div data-role="page" id="user_profile" >

    <div data-role="header" data-position="fixed">
      <a href="#" data-rel="back">Back</a>
      <h2>My profile</h2>
      <a href="#" id="log_out_button">Log Out</a>
    </div>

    <div data-role="content" id="client_content"  style="background-image:url('images/bg/dark_geometric.png');">
     <br>

    <ul data-role="listview" data-inset="true">
      <li><a href="#">
        <div class="ui-grid-a">
          <div class="ui-block-a" style="width: 25%;">
           <img id="client_image" src="" width="75%"/>
          </div>
          <div class="ui-block-b" style="width: 75%">
              <h1></h1>
              <p id="client_name"></p>
              <p id="client_email"></p>
              <p id="client_rank"></p>
          </div>
        </div>
      </a></li>
    </ul>
 
    <ul data-role="listview" data-inset="true">
      <li data-role="list-divider" >Shipping Information</li>
      <li><a href="#address_list"> 
        <p id="client_add1"></p>
        <p id="client_add2"></p>
        <p id="client_add3"></p>
        <p id="client_country"></p></a>
      </li>
    </ul>


    <ul data-role="listview" data-inset="true">
      <li data-role="list-divider" >Main Credit Card</li>
      <li> <a href="#credit_card_list">
        <p id="card_number"></p> 
        <p id="credit_card_type"></p></a>
      </li>
    </ul>
    <br>
  </div>


<div data-role="footer" data-id="pers_footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#home" data-icon="home" >Home</a></li>
        <li><a href="#user_profile" data-icon="bars" >Profile</a></li>
        <li><a href="#user_bucket" data-icon="bars" >Bucket</a></li>
      </ul>
    </div>
  </div>

</div>
<!-- end user page -->

<div data-role="page" id="edir_credit_info">
  <div data-role="header" data-position="fixed">
    <h2>Edit Credit Cards</h2>
  </div>
  <div data-role="content">
    <form id="user_info_edit">
      <h4 style="text-align: center;"> Credit Card Information</h4>
      <label for="first_name">Number:</label>
      <input type="text" name="first_name" id="first_name" value="" data-mini="true" placeholder=""/>
      <label for="last_name">Type:</label>
      <input type="text" name="last_name" id="last_name" data-mini="true" placeholder=""/>

      <h4 style="text-align : center;">Billing Information</h4>
      <label for="old_password">Address 1</label>
      <input for="text" name="old_password" id="old_password" placeholder="" data-mini="true"/>
      <label for="new_password">Address 2</label>
      <input for="text" name="new_password" id="new_password" placeholder="" data-mini="true"/>
      <label for="new_password">City</label>
      <input for="text" name="new_password" id="new_password" placeholder="" data-mini="true"/>
      <label for="new_password">State</label>
      <input for="text" name="new_password" id="new_password" placeholder="" data-mini="true"/>
      <label for="new_password">Zip Code</label>
      <input for="text" name="new_password" id="new_password" placeholder="" data-mini="true"/>
    </form>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><button data-role="button" data-inline="true" id="edit_user_save" >Save</button></li>
        <li><a href="#user_profile" data-role="button" data-inline="true">Cancel</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- edit user -->
<div data-role="page" id="edit_user">

  <div data-role="header" data-position="fixed">
    <a href="#" data-rel="back">Back</a>
    <h2>Edit</h2>
  </div>

  <div data-role="content">
    <form id="user_info_edit">
      <h4 style="text-align: center;"> Personal Information</h4>
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" value="" data-mini="true" placeholder="First name"/>
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" data-mini="true" placeholder="Last name"/>
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" placeholder="Email" data-mini="true"/>

      <h4 style="text-align : center;">Password Settings</h4>
      <label for="old_password">Old Password</label>
      <input for="password" name="old_password" id="old_password" placeholder="***********" data-mini="true"/>
      <label for="new_password">New Password</label>
      <input for="password" name="new_password" id="new_password" placeholder="***********" data-mini="true"/>
    </form>
  </div>

  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><button data-role="button" data-inline="true" id="edit_user_save" >Save</button></li>
        <li><a href="#user_profile" data-role="button" data-inline="true">Cancel</a></li>
      </ul>
    </div>
  </div>

</div>
<!-- end edit user -->

<div data-role="page" id="add_user_mail">

  <div data-role="header" data-position="fixed">
    <h2>Add a mail address</h2>
  </div>

  <div data-role="content">
    <form id="new_address">
      <label for="address1">Address 1:</label>
      <input type="text" name="address1" id="address1" value="" data-mini="true" placeholder=""/>
      <label for="address2">Address 2:</label>
      <input type="text" name="address2" id="address2" data-mini="true" placeholder=""/>
      <label for="city">City:</label>
      <input type="text" name="city" id="city" placeholder="" data-mini="true"/>
      <label for="zipcode"> Zip Code: </label>
      <input type="text" name="zipcode" id="zipcode" data-mini="true" />
      <label for="country_address" class="select"> Country </label>
      <select name="country" id="country_address" >


      </select>
    </form>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><button data-role="button" data-inline="true" id="add_mail_address" >Save</button></li>
        <li><a href="#address_list" data-role="button" data-inline="true">Cancel</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Address list -->

<div data-role="page" id="address_list">

  <div data-role="header" data-position="fixed">
    <a href="#user_profile">Back</a>
    <h2> Addresses </h2>
  </div>

  <div data-role="content">
    <div>
      <ul data-role="listview" id="user_address_list">
      </ul>
    </div>

    <br>

    <div>
      <a href="#add_user_mail" data-role="button">Add</a>
    </div>

  </div>
</div>

<!-- end address list -->

<!-- credit card list -->

<div data-role="page" id="credit_card_list">

  <div data-role="header" data-position="fixed">
    <a href="#user_profile">Back</a>
    <h2> Credit Cards </h2>
  </div>

  <div data-role="content">
    <div>
      <ul data-role="listview" id="card_list">
      </ul>
    </div>

    <br>

    <div>
      <a href="#add_credit_card" data-role="button">Add</a>
    </div>

  </div>
</div>

<!-- end credit card list -->

<div data-role="page" id="address_confirmation_dialog">
  <div data-role="content">
    <h3 style="text-align : center;">Delete this address?</h3>
    <br>
    <div class="ui-grid-a">
      <div class="ui-block-a"><button data-role="button" data-icon="delete" id="delete_address">Yes</button></div>
      <div class="ui-block-b"><a href="#address_list" data-role="button" data-icon="minus">Cancel</a></div>
    </div> 
  </div>
</div>


<div data-role="page" id="create_item">
  <div data-role="header" data-position="fixed">
    <h2>List an Item</h2>
  </div>
  <div data-role="content">
    <form id="crete_item">
      <label for="item_name">Item Name:</label>
      <input type="text" name="item_name" id="item_name" value="" data-mini="true" placeholder=""/>
      <label for="description">Descripton:</label>
      <textarea name="textarea" id="description"></textarea>
      <label for="email">Category:</label>
      <input type="text" name="category" id="category" placeholder="" data-mini="true"/>
      <label for="email">Year:</label>
      <input type="text" name="category" id="category" placeholder="" data-mini="true"/>
      <label for="email">Brand:</label>
      <input type="text" name="category" id="category" placeholder="" data-mini="true"/>
      <label for="email">General:</label>
      <input type="text" name="category" id="category" placeholder="" data-mini="true"/>
      <label for="email">Price:</label>
      <input type="text" name="category" id="category" placeholder="" data-mini="true"/>
      <label for="email">Image:</label>
      <input type="text" name="category" id="category" placeholder="" data-mini="true"/>
    </form>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><button data-role="button" data-inline="true" id="create_item_save" >Save</button></li>
        <li><a href="#store" data-role="button" data-inline="true">Cancel</a></li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="item_confirmation_dialog">
  <div data-role="content">
    <h3 style="text-align : center;">Remove Item?</h3>
    <br>
    <div class="ui-grid-a">
      <div class="ui-block-a"><button data-role="button" data-icon="delete" id="remove_item">Yes</button></div>
      <div class="ui-block-b"><a href="#address_list" data-role="button" data-icon="minus">Cancel</a></div>
    </div> 
  </div>
</div>

<div data-role="page" id="edit_item">
  <div data-role="header" data-position="fixed">
    <h2>Edit Item</h2>
  </div>
  <div data-role="content">
    <form id="crete_item">
      <label for="item_name">Item Name:</label>
      <input type="text" name="item_name" id="item_name" value="" data-mini="true" placeholder=""/>
      <label for="description">Descripton:</label>
      <textarea name="textarea" id="description"></textarea>
      <label for="email">Category:</label>
      <input type="text" name="category" id="category" placeholder="" data-mini="true"/>
      <label for="email">Year:</label>
      <input type="text" name="category" id="category" placeholder="" data-mini="true"/>
      <label for="email">Brand:</label>
      <input type="text" name="category" id="category" placeholder="" data-mini="true"/>
      <label for="email">General:</label>
      <input type="text" name="category" id="category" placeholder="" data-mini="true"/>
      <label for="email">Price:</label>
      <input type="text" name="category" id="category" placeholder="" data-mini="true"/>
      <label for="email">Image:</label>
      <input type="text" name="category" id="category" placeholder="" data-mini="true"/>
    </form>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><button data-role="button" data-inline="true" id="edit_item_save" >Save</button></li>
        <li><a href="#store" data-role="button" data-inline="true">Cancel</a></li>
      </ul>
    </div>
  </div>
</div>

</div>

<!-- End -->


</body>
</html>
